body {
  background-color: #333333;
  color: #fff;
  height: 100%;
}

body .logo-1 {
  margin-top: 2vw;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 100px;
      -ms-flex: 100px;
          flex: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .logo-10 {
  margin-top: 2vw;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 100px;
      -ms-flex: 100px;
          flex: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .flex-item:nth-of-type(2) {
  float: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

body .devider {
  max-height: 100vh;
  min-width: 100vw;
}

body .right-con {
  height: 100vh;
  width: 100vw;
  background: url(../Images/gs.jpg);
  background-color: #333333;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

body .hero {
  font-family: "Zen Tokyo Zoo";
  color: #fff;
}

body .img {
  width: 50vw;
  height: 100vh;
  size: cover;
  -o-object-position: center;
     object-position: center;
  background-attachment: fixed;
}

body .zero1 {
  margin-top: 100px;
  font-family: "Lora";
  font-size: 80px;
}

body .zero {
  font-family: "Cutive Mono";
  color: #09ca09;
  font-size: 40px;
  margin-top: -30px;
  font-stretch: expanded;
}

body .intro {
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat';
  padding: 20px;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: 2px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

body .b-clutter {
  margin-top: 40px;
}

body .btn {
  background-color: black;
  margin: 20px;
  color: #ebfffc;
  border-style: solid;
  border-width: 2px;
  border-color: #474747;
  font-family: "Lora";
}

body .btn-act:hover {
  color: #f8fbff;
  background-color: #474747;
}

body .links {
  color: white;
  font-size: 20px;
  margin: 10px;
}

body .right-con-sm {
  max-height: 30%;
}

body .hero-sm {
  margin-top: 100px;
  font-family: "Zen Tokyo Zoo";
  color: #fff;
}

body .zero1-sm {
  margin-top: 50px;
  font-family: "Lora";
  font-size: 80px;
}

body .zero-sm {
  font-family: "Cutive Mono";
  color: #09ca09;
  font-size: 40px;
  margin-top: -30px;
  font-stretch: expanded;
}

body .b-clutter-a {
  position: relative;
  float: bottom;
  margin: 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .right-con {
  max-height: 100vh;
  max-width: 100vh;
}

body .lg-img {
  max-height: 100vh;
  min-height: 100vh;
  min-width: 30vw;
  max-width: 80vw;
}

body .section .video {
  font-family: 'Lora';
}

body .section .main-vid {
  margin: 10px;
  padding: 30px;
}

body .section .vid-tittle {
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

body .container-1 {
  margin: 30px;
  height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

body .section {
  margin-top: 100px;
}

body .what {
  text-decoration: none;
  background-color: #0A3D62;
  color: #fff;
  font-family: "Zen Tokyo Zoo";
}

body .Question {
  border: 1rem white;
  border-radius: 20px;
  font-family: "Lora";
}

body .q {
  color: paleturquoise;
  font-size: 20px;
  padding: 30px;
}

body .a {
  color: white;
  font-size: 20px;
  padding-right: 10px;
}

footer {
  margin: auto;
  height: 2em;
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  color: white;
  text-align: center;
}

footer .fNav {
  padding: 6.25px;
  background-color: #cff300;
}

footer .fNav .homeL {
  font-family: "Montserrat";
  text-decoration: none;
  margin: 10px;
  color: white;
  padding: 10px;
}

footer .fNav button {
  height: 2rem;
  margin: 0px;
  background-color: #00a72a;
  border: none;
  border-radius: 10px;
}

footer .fNav button:hover {
  background-color: rgba(3, 3, 0, 0.87);
}
/*# sourceMappingURL=style.css.map */