$color:(
    background: rgb(31, 31, 31),
    text: rgb(243, 238, 252),
    button: rgb(244, 224, 6),
);

@function color($colorName){
    @return map-get($map: $color, $key: $colorName);
}

$fonts:(
    heading: 'monserret',
    subHeading: 'roboto',
    accent: 'lora',
);

@function fonts($fontName){
    @return map-get($map: $fonts, $key: $fontName);
}

body{
    background-color: color(background);
    color: color(text);
    .container{
        align-content: center;
        text-align: center;
        margin-left: 4vh;
        margin-right: 4vh;
    }
    #productSelect{
        margin: 10px;
        background-color: color(button);
        border: 1px black;
        border-radius: 5px;

    }
}