$color:(
    backgroun: rgb(53, 53, 53),
    text: rgb(255, 255, 255),
    button: rgb(211, 255, 92),
    textD: rgb(71, 85, 33),
);

@function color($colorName){
    @return map-get($map: $color, $key: $colorName);
}

$fonts:(
    heading: 'monserret',
    subHeading: 'roboto',
    accent: 'lora',
);

@function fonts($fontName){
    @return map-get($map: $fonts, $key: $fontName);
}

body{
    background-color: color(backgroun);
    font-family: 'Montserrat', sans-serif;
    color: color(text);
    .container{
        align-content: center;
        text-align: center;
        margin-left: 4vh;
        margin-right: 4vh;
    }
    .productSelect{
        margin: 10px;
        color: color(textD);
        background-color: color(button);
        border-style: 2px rgb(255, 255, 255);
        border-radius: 15px;
        font-size: 15px;
    }
    .Recepie{
        font-family: "monserret";
        color: rgb(252, 252, 252);
        font-size: 18px;
        align-self: center;
        text-transform: capitalize;
    }

    
    .beta td{
    border: 1px solid;
    border-radius: 15px;
    border-color: color(button);
    text-transform: capitalize;
    height: 20px !important;
    }
    .beta tr{
        font-family: 'Montserrat', sans-serif;
        height: 20px;
    }

    .grid-container{
        margin-top: 100px;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        display: grid;
    }
    .fQuantity{
        border-radius: 10px;
        height: 25px;
        border: 1px color(button);
       
    }
    footer{
        margin: auto;
        height: 2em;
        position: fixed;
        left: 0;
        bottom: 5px;
        width: 100vw;
        background-color: color(button);
        color: white;
        text-align: center;
        

  .fNav{
    padding: 6.25px;
    
    .homeL{
        
    text-decoration: none;
    margin: 10px;
    color: color(textD);
     }
  }
    }
    
}